.sh0 {
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
  font-size: 3em;
  color: #F5F5F5;
  margin-bottom: 1em;
  text-shadow: 2px 2px 10px #EA4F1A
}
.sh0a {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
  font-size: 5em;
  color: #111111;
}
.sh-1 {
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
  font-size: 7em;
  color: #F5F5F5;
  <!-- margin-bottom: 1em; -->
  text-shadow: 2px 2px 10px #64968C
}
.sh1 {
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
  font-size: 2.45em;
  color: #F5F5F5;
  margin-bottom: 1em;
  text-shadow: 2px 2px 10px #EA4F1A
}
.sh1a {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
  font-size: 2.5em;
  color: #111111;
}
.sh2 { 
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 1em;
}
.sh2a {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
  font-size: 1.6em;
}
.sh2b {
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
  font-size: 1.6em;
  color: #F5F5F5;
  margin-bottom: 1em;
  text-shadow: 2px 2px 10px #EA4F1A
}
.sh3 { 
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.sh3a {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.sh4 { 
  display: block;
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1em;
}
.tiny {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
  font-size: 0.6em;
  margin-top: -30px;
}

.inverse {
  background-color: #EA801A;
  color: #303030;
  text-shadow: 1px 1px 5px #EA931A
}
.inverse2 {
  background-color: #64D68C;
  color: #303030;
  text-shadow: 1px 1px 5px #64E98C
}
.full { padding: 0px; }
.full p { margin-top: 0px; }

.my-left { float: left; width: 33%; }
.my-right { float: right; width: 63%; }
.my-left2 { float: left; width: 50%; }
.my-right2 { float: right; width: 50%; }
.my-left3 { float: left; width: 70%; }
.my-right3 { float: right; width: 30%; }
.my-left4 { float: left; width: 60%; }
.my-right4 { float: right; width: 28%; }
.my-left5 { float: left; width: 42%; }
.my-right5 { float: right; width: 58%; }

.box-blue { 
  border-style: solid;
  border-width: 5px;
  border-color: #1C529D;
  border-radius: 15px;
  padding: 0px 15px;
}
.box-yellow {
  border-style: solid;
  border-width: 5px;
  border-color: #F2D73A;
  border-radius: 15px;
  padding: 0px 15px;
}
.box-red {
  border-style: solid;
  border-width: 5px;
  border-color: #A02020;
  border-radius: 15px;
  padding: 0px 15px;
  margin-top: 362px;
}
.box-red2 {
  border-style: solid;
  border-width: 5px;
  border-color: #A02020;
  border-radius: 15px;
  padding: 0px 15px;
}
.box-green {
  border-style: solid;
  border-width: 5px;
  border-color: #28A42A;
  border-radius: 15px;
  padding: 0px 15px;
}
.box-orange {
  border-style: solid;
  border-width: 5px;
  border-color: #B55F0E;
  border-radius: 15px;
  padding: 0px 15px;
}
.box-purple {
  border-style: solid;
  border-width: 5px;
  border-color: #422E89;
  border-radius: 15px;
  padding: 0px 15px;
}

h1 { color: #EA801A; }
.myorange { color: #EA801A; font-weight: 700; }
.mygray { color: #777777; font-weight: 400; }
.myblack { color: #000000; font-weight: 700; }
.myblue { color: #5CAAED; font-weight: 700; }
.myyellow { color: #E1AC13; font-weight: 700; }
.myred { color: #E88383; font-weight: 700; }
.mygreen { color: #82DB05; font-weight: 700; }
.mypurple { color: #8B6BF9; font-weight: 700; }