@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400;600&display=swap");

body { font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic", "IPA PGothic", sans-serif; }
h1, h2 {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 700;
}
h3 {
  font-family: "M PLUS Rounded 1c", "Hiragino Maru Gothic ProN W4", "Yu Gothic", "IPAGothic", sans-serif; 
  font-weight: 400;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }

.thai { font-family: "Sarabun", "TH Sarabun New", "Cordia New", "Thonburi", "Garuda", sans-serif; }